.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--slate, #434455);
}

.page-heder {
    
}

.page-nav {
     
}

.logo {
color: var(--iris, #4D5AE5);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.span {
    color: var(--navyblue, #2E2F42);
        font-size: 18px;
        font-family: Raleway, sans-serif;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.menu-item {
color: var(--navyblue, #2E2F42);

    /* Body Medium */
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    
}

.address {
    font-style: normal;
}

.menu-link {
    color: var(--navyblue, #2E2F42);
    
        /* Body Medium */
        font-size: 16px;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        
}

.link-logo {
color: var(--navyblue, #2E2F42);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.contact-mail {
    color: var(--slate, #434455);
    
        /* Body */
        font-size: 16px;
        font-family: Roboto;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

.contact-phon {
    color: var(--slate, #434455);
    
        /* Body */
        font-size: 16px;
        font-family: Roboto;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

.modal-btn {
color: var(--white, #4d5ae5);

    /* Button Text */
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
        background-color: #F4F4FD;
        cursor: pointer;
}

.abcd {
    color: var(--navyblue, #2E2F42);
    
        /* Header 3 */
        font-size: 20px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}

.abcdef {
    color: var(--slate, #434455);
    
        /* Body */
        font-size: 16px;
        font-family: Roboto;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

.footer-color {
    background: var(--navyblue, #2E2F42);
}

.footer-logo {
    color: var(--iris, #4D5AE5);
        font-size: 18px;
        font-family: Raleway, sans-serif;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.footer-span {
    color: var(--cloud, #F4F4FD);
        font-size: 18px;
        font-family: Raleway, sans-serif;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.footer-text {
    color: var(--cloud, #F4F4FD);
    
        /* Body */
        font-size: 16px;
        font-family: Roboto, sans-serif;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

.modal-btn:hover,
.modal-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.contact-mail:hover,
.contact-mail:focus {
    color: #404BBF;
}